$darkColour: #35343B;
$lightColour: #FFFDFB;



$medium: 700px;
$large: 1500px;

@import "https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;800&display=swap";
*{
    margin: 0;
    padding: 0;
}

.toggle-mode{
    
    position: fixed;
    left: 5%;
    top: 5%;
    font-size: 2.5rem;
}

.App-dark,
.App-light{
    font-family: 'Kumbh Sans', sans-serif;
    transition: 0.3s;
    margin: 0;
    padding: 5%;
}
.App-light{
    background-color: $lightColour;
    color: $darkColour;
}
.App-dark{
    background-color: $darkColour;
    color: $lightColour;
}

.nav-dark,
.nav-light{
    width: 80%;
    border-radius: 25px;
    height: 60px;
    margin: auto;
}

.nav-dark{
    
    color: $lightColour;
   
}
.nav-light{
    background-color: $lightColour;
    color: $darkColour;
}

ul{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    

    @media screen and (min-width: $medium) {
        width: 50%;
        position: relative;
        left: 40%;
    }
    @media screen and (min-width: $large) {
        width: 35%;
        position: relative;
        left: 60%;
    }
}

li{
    text-decoration: none;
    list-style: none;
    
    line-height: 60px;
    font-weight: 500;
    text-align: center;
    font-size: .8rem;
    @media screen and (min-width: $large) {
        font-size: 1rem;
    }
}

#cv-button{
    background-color: $lightColour;
    color: $darkColour;
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
    border-radius: 10px;
    
}







//  --------------  Content     ------------ //

.content{
    width: 85%;
    margin: auto;
    padding: 5%;
    
    
}

.content-section{
    margin-bottom: 25%;
}

.about-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

#photo{

    #photo-bg{
        margin:auto;
        margin-top: 40%;
        border-radius: 10%;
        width: 230px;
        height: 300px;
        background-color: rgb(220, 220, 220);
        
        
    }
   
    img{
     height: 100%;
     width: 100%;
     border-radius: 9%;
     
     
     }
    
}

#about-me-text{
    
    padding-top: 20%;
    padding-left: 10%;
    
    width: 90%;
    

    h2{
        font-size: 1.8rem;
        padding-bottom: 2%;
        
    }
    p{
        font-size: .9rem;
        font-weight: 300;
        padding-bottom: 2%;
        
    }

    ul{
        padding-top: 10%;
        width: 100%;
        position: static;
    }
    
}


    
    




.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    
    
}


.project{
    width: 70%;
    height: 150px;
    margin-bottom: 10%;
    
    padding: 10%;
    border: 2px solid rgb(235, 235, 235, 0.5);
    border-radius: 10px;

    li{
        display: inline;
        margin-right: 10%;
    }

    span{
        padding-right: 10%;
        position: relative;
        bottom: 15px;
    }
}



.contact-page{
    padding: 10%;
    text-align: center;

    p{
        padding: 5%;
        width: 50%;
        margin: auto;
    }
}

.link-container{
    padding: 5%;

    span{
        padding: 5%;
    }
}

.footer-dark,
.footer-light{
    text-align: center;
    position: relative;
    height: 200px;
    border-radius: 50px;
    position: relative;
    bottom: 0;

    p{
        padding: 10%;
    }
}

.footer-dark{
    background-color: $lightColour;
    color: $darkColour;
}

.footer-light{
    background-color: $darkColour;
    color: $lightColour;
}