$darkColour: #35343B;
$lightColour: #FFFDFB;



$medium: 900px;
$large: 1500px;

@import "https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;800&display=swap";

//  --------------  General Styling     ------------ //
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
li{
    text-decoration: none;
    list-style: none;
}


//  --------------  Dark/Light mode toggle     ------------ //
.toggle-mode{
    position: fixed;
    left: 5%;
    top: 4.5%;
    font-size: 1.5rem;
    cursor: pointer;

    @media screen and (min-width: $large) {
        font-size: 2rem;
    }
}

.App-dark,
.App-light{
    font-family: 'Kumbh Sans', sans-serif;
    transition: 0.3s;
    margin: 0;
    padding: 5%;
}
.App-light{
    background-color: $lightColour;
    color: $darkColour;
}
.App-dark{
    background-color: $darkColour;
    color: $lightColour;
}




//  --------------  Navigation    ------------ //
.nav-dark,
.nav-light{
    width: 80%;
    margin: auto;
}

.nav-dark{
    color: $lightColour;
}
.nav-light{
     color: $darkColour;
}

.nav-list{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    @media screen and (min-width: $medium) {
        width: 50%;
        position: relative;
        left: 40%;
    }
   
}

.nav-item{
    
    font-weight: 500;
    text-align: center;
    font-size: .9rem;
    cursor: pointer;


    @media screen and (min-width: $large) {
        font-size: 1rem;
        transform: translate(0, -60px);
    }
}














//  --------------  Content     ------------ //

.content{
    width: 85%;
    margin: auto;
    padding: 5%;

    @media screen and (min-width: $large) {
        width: 60%;
    }
}

.content-section{
    margin-bottom: 30%;
    margin-top: 20%;

    @media screen and (min-width: $large) {
        margin-top: 5%;
    }
}

h2{
    font-size: 2.2rem;
    text-align: center;
    padding-bottom: 5%;
}

p{
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 5%;
    text-align: center;
    line-height: 1.8rem;
}






.about-me-text{
    width: 60%; 
   margin: auto;
   margin-bottom: 200px;
   
}

.photo{
   img{
    
     width: 10%;
     border-radius: 9%;
     transform: translate(12rem, 50px);
     display: none;

        @media screen and (min-width: $medium) {
            display: block;
        }
        @media screen and (min-width: $large) {
            transform: translate(15rem, 50px);
         }
    }
}
   
    
  
    



    
    

//  --------------  Project Section     ------------ //


.project-grid{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;

    @media screen and (min-width: $medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5%;
    }
    
    
}


.project{
    width: 70%;
    height: 220px;
    margin: auto;
    margin-bottom: 10%;
    background-color: rgb(133, 133, 133, 0);
    
    padding: 10%;
    border: 2px solid rgb(235, 235, 235, 0.5);
    border-radius: 10px;

  

    li{
        display: inline;
        margin-right: 10%;
    }

    span{
        padding-right: 10%;
        position: relative;
        bottom: 15px;
    }

    p{
        text-align: left;
        font-size: .9rem;
        padding-top: 2%;
    }
}

.project:hover{
    background-color: rgb(235, 235, 235, 0.5);
    
}






//  --------------  Skills Section     ------------ //

.skills-list{
    margin-bottom: 50%;
    margin-top: 50%;
    width: 80%;
    margin: auto;
    margin-left: 10%;
   
    display: grid;
    grid-template-columns: 1fr 1fr;

    .skill-item{
        width: 60%;
        margin: 5% auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }

    img{
        max-width: 50px;
        margin-left: 10%;
    }
}












//  --------------  Contact Section    ------------ //

.contact-page{
    padding: 10%;
    text-align: center;

    p{
        padding: 5%;
        width: 50%;
        margin: auto;
    }
}

.link-container{
    padding: 5%;

    span{
        padding: 5%;
    }
}





//  --------------  Contact    ------------ //

.footer-dark,
.footer-light{
    text-align: center;
    position: relative;
    bottom: 0;

    p{
        padding: 10%;
    }
}

.footer-dark{
    
    color: $lightColour;
}

.footer-light{
    
   
    color: $darkColour;
}