$darkColour: #35343B;
$lightColour: #FFFDFB;



$medium: 900px;
$large: 1500px;

@import "https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;800&display=swap";

//  --------------  General Styling     ------------ //
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
li{
    text-decoration: none;
    list-style: none;

  
}


//  --------------  Dark/Light mode toggle     ------------ //
.toggle-mode-dark,
.toggle-mode-light{
    position: fixed;
    left: 5%;
    top: 2%;
    font-size: 1.5rem;
    cursor: pointer;

    @media screen and (min-width: $large) {
        font-size: 2rem;
    }
}

.toggle-mode-dark{
    color: #f4e27d;
}
.toggle-mode-light{
    color: #08369a;
}

.App-dark,
.App-light{
    font-family: 'Kumbh Sans', sans-serif;
    transition: 0.3s;
    margin: 0;
    padding: 5%;
}
.App-light{
    background-color: $lightColour;
    color: $darkColour;
}
.App-dark{
    background-color: $darkColour;
    color: $lightColour;
}




//  --------------  Navigation    ------------ //
.nav-dark,
.nav-light{
    width: 80%;
    margin: auto;
    

   
}

.nav-dark{
    color: $lightColour;
}
.nav-light{
     color: $darkColour;
}

.nav-list{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    @media screen and (min-width: $medium) {
        width: 50%;
        position: relative;
        left: 40%;
    }
    @media screen and (min-width: $large) {
        width: 35%;
        left: 45%;
    }
   
}

.nav-item{
    
    font-weight: 500;
    text-align: center;
    font-size: .9rem;
    cursor: pointer;
    
    transition: ease-in 0.1s;

    @media screen and (min-width: $medium) {
        font-size: 1.1rem;
        
    }


    @media screen and (min-width: $large) {
        font-size: 1.3rem;
        

       
    }

   
    
}

.nav-item:hover{
    
    
    transform: scale(1.1);

}














//  --------------  Content     ------------ //

.content{
    width: 90%;
    margin: auto;
    padding: 5%;

    @media screen and (min-width: $large) {
        width: 60%;
    }
}

.content-section{
    margin-bottom: 30%;
    margin-top: 10%;
    
    @media screen and (min-width: $medium) {
       
    }
    

    @media screen and (min-width: $large) {
        margin-top: 5%;
    }
}

h2{
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 5%;

    @media screen and (min-width: $medium) {
        font-size: 3.5rem;
        padding: 5%;
    }

    @media screen and (min-width: $large) {
        font-size: 5rem;
        padding: 5%;
    }
}

p{
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 5%;
    text-align: center;
    line-height: 1.8rem;

    @media screen and (min-width: $medium) {
        font-size: 1.2rem;
    }

    @media screen and (min-width: $large) {
        font-size: 1.3rem;
    }
}


.about-me-text{
    width: 60%; 
   margin: auto;
   margin-bottom: 200px;
   
}

 
    
  
    


    
    

//  --------------  Project Section     ------------ //


.project-grid{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;

    @media screen and (min-width: $medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5%;
    }
    
    
}


.project{
    width: 70%;
    height: 220px;
    margin: auto;
    margin-bottom: 10%;
    background-color: rgb(133, 133, 133, 0);
    
    padding: 10%;
    border: 2px solid rgb(235, 235, 235, 0.5);
    border-radius: 10px;

  

    li{
        display: inline;
        margin-right: 8%;
        font-size: .9rem;

        @media screen and (min-width: $medium) {
            font-size: 1rem;
        }
        
    }

    span{
        padding-right: 10%;
        position: relative;
        bottom: 15px;
    }

    p{
        text-align: left;
        font-size: .9rem;
        padding-top: 2%;

        @media screen and (min-width: $medium) {
            font-size: 1rem;
        }
    }
}

.project:hover{
    background-color: rgb(235, 235, 235, 0.5);
    
}






//  --------------  Skills Section     ------------ //

.skills-list{
    margin-bottom: 50%;
    margin-top: 50%;
    width: 80%;
    margin: auto;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .skill-item{
        width: 60%;
        margin: 5% auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;

        @media screen and (min-width: $medium) {
            font-size: 1.2rem;
        }
        @media screen and (min-width: $large) {
            font-size: 1.4rem;
        }
    }

    img{
        width: 30px;
        position: relative;
        right:0;

        @media screen and (min-width: $medium) {
            width: 40px;
        }
        @media screen and (min-width: $large) {
            width: 50px;
        }
        
    }
}












//  --------------  Contact Section    ------------ //

.contact-page{
    padding: 10%;
    text-align: center;

    p{
        padding: 5%;
        width: 80%;
        margin: auto;
        @media screen and (min-width: $large) {
            width: 50%;
            
        }
    }
}

.link-container{
    padding: 5%;

    span{
        padding: 5%;
    }
}

.contact-form{
    width: 100%;
    text-align: center;
    margin: auto;
    
   

    input[type=text], input[type=textarea], input[type=email]  {
        background-color: $lightColour;
        width: 95%;
        margin: 5% auto;
        border: 3px solid rgb(235, 235, 235, 0.5);
        font-size: 1rem;
        border-radius:3px;
        height: 50px;
        
        @media screen and (min-width: $medium) {
            width: 70%;
            margin: 2% auto;
        }
       
     
        
    }
    input[type=textarea]{
        height: 100px;
        width: 95%;

        @media screen and (min-width: $medium) {
            width: 70%;
            height: 150px;
        }
        
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        padding: 2%;
      }

    input[type=submit]{
        width: 95%;
        background-color: lightSeaGreen;
        height: 50px;
       border: 3px solid lightseagreen;
       border-radius:3px;
       color: white;
       font-weight: 700;
      

       @media screen and (min-width: $medium) {
        width: 70%;
        margin: 5% auto;
        font-size: 1.2rem;
    }
    
       
       }

    }

    .link-symbol{
        font-size: 1.1rem;

        @media screen and (min-width: $medium) {
            
            font-size: 1.4rem;
        }
    }



//  --------------  Contact    ------------ //

.footer-dark,
.footer-light{
    text-align: center;
    position: relative;
    bottom: 0;

    p{
        padding: 10%;
    }
}

.footer-dark{
    
    color: $lightColour;
}

.footer-light{
    
   
    color: $darkColour;
}

/* loader */
.loader{
    width: 10px;
    height: 10px;
    margin: 40px auto;
    border-radius: 10%;
    background: #fff;
    
  }